<%= content_for(:title, "Download Bin | soundsiLike") %>
<%= content_for(:description, "All of Your Bookmarked Sounds Ready to Download") %>
<a href="clearbin" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> Clear Bin</a>
<br>
<h1 class="downloadbin-title">Download Bin</h1>
<ul class='list-group'>
  <% @downloads.order("created_at desc").each do |dl| %>

    <li class='list-group-item clearfix'>
    <small style="color:#33485F !important; margin: 0;"><%= time_ago_in_words dl.created_at %> ago</small>
    <br>
     <h4 class="pull-left" style="color:#33485F !important; margin: 10px 0; -webkit-user-select: none;"><%= dl.title %></h4>
      <div class="pull-right"><%= link_to " Download", dl.url, :class=> "fa fa-download btn btn-info", :target=> "_blank", :style=>"-webkit-user-select: none;" %></div>
      <br>
      <br>
      <br>
      <hr>
    </li>

  <% end %>
</ul>