<%= content_for(:title, "Drum & Bass | soundsiLike") %>
<h1 class="page-title">Drum &amp; Bass</h1>
<div class="row">
  <% @hotmusic.each do |track| %>
  <script type="text/javascript">
  $(document).ready(function () {
  $('#<%= track.id %>').on('click', function () {
  $('#<%= track.id %>').hide();
  });
  });
  </script>
  <div plangular data-src="'<%= track.permalink_url %>'" class="col-4">
    <h5 class="track-title"><%=h truncate(track.title, :length => 52) %></h5>
    <small class="download-count"><%= track.download_count %> Downloads</small>
    <a href="<%= track.permalink_url %>" target="_blank"><i class="fa fa-link viewonsoundcloud"></i></a>
    <div class="asp-16o9 bg-center bg-cover pos-rel" style="background-image: url(<%= track.artwork_url.to_s.gsub('-large', '-t500x500') %>)">
      <div class="media pos-abs right bottom left">
        <div class="img sq48 sq48-text">
          <a href="" ng-click="player.play(track)" ng-hide="player.playing == track"
          class="db white anim-popin">
          <i class="icon-play db h3"></i></a>
          <a href="" ng-click="player.pause()" ng-show="player.playing == track"
          class="db anim-popin">
          <i class="icon-pause db h3"></i></a>
        </div>
        <div class="bd min-hi48 pos-rel">
          <div class="pos-abs top right1 bottom left" ng-click="seekTo($event)">
            <div class="pos-abs top right bottom left bg-main progress-thick"></div>
            <div class="pos-abs top bottom left progress-thick bg-white" style="width: {{ (currentTime / duration) * 100 }}%"></div>
          </div>
        </div>
      </div>
    </div>
    
    <a ng-href="{{ track.permalink_url }}/download" target="_blank" class="btn btn-small btn-info pull-right"><i class="fa fa-download"></i> Download</a>
    <% if current_user %>
    <%= form_for @downloads, :url => { :controller => "downloads", :action => "create" }, remote: true do |f| %>
    <%= f.hidden_field :title, :value => track.title %>
    <%= f.hidden_field :genre, :value => track.genre %>
    <%= f.hidden_field :url, :value => "#{track.permalink_url}/download" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= button_tag(type: 'submit', class: "btn btn-primary btn-small", :id => "#{track.id}") do %>
    <i class="fa fa-plus"></i> Add to Bin</i>
    <% end %>
    <% end %>
    <% else %>
    <%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn" %>
    <% end %>
  </div>
  <% end %>
</div>