<!doctype html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:description) %>">
    <meta property="og:title" content="<%= yield(:title) %>" />
    <meta property="og:description" content="<%= yield(:description) %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render :partial => "layouts/tracking" %>
  </head>
  <body>
    <div class="panel-content scrollablearea">
      <%= render 'navbar_top' %>
      <!-- Push Wrapper -->
      <div class="mp-pusher" id="mp-pusher">
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
          <%= render 'pusher_menu_content' %>
          <div class="container-center">
            <%= yield %>
          </div>
          <div class="row footer">
            <a href="mailto:john@soundsilike.co?subject=Feedback and Suggestions">Feedback &amp; Suggestions</a>
            <br>
            <br>
            <!-- <p class="copyright">soundsiLike</p> -->
            <a href="https://www.digitalocean.com/?refcode=8bdd8c21151b"><img src="assets/digitalocean-badge-gray.png"></a>
            <!--   <ul class="inline">
              <li><a href="https://twitter.com/soundsilike" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            </ul> -->
          </div>
        </div>
        <%= render :partial => "layouts/ga" %>
        <script>
        new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
        </script>
      </div>
    </body>
  </html>
